/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-main-color: #f7c600;
  --qode-header-light-color: #ffffff;
  --qode-header-light-hover-color: #f7c600;
  --qode-header-dark-color: #1b1b1b;
  --qode-header-dark-hover-color: #ffffff;
}

/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Transition variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - begin
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - end
   ========================================================================== */
/* ==========================================================================
   Button mixins - start
   ========================================================================== */
/* ==========================================================================
   Button mixins - end
   ========================================================================== */
/* ==========================================================================
   Tabs mixins - start
   ========================================================================== */
/* ==========================================================================
   Tabs mixins - end
   ========================================================================== */
/* ==========================================================================
   Animation mixins - start
   ========================================================================== */
/* ==========================================================================
   Animation mixins - end
   ========================================================================== */
/* ==========================================================================
   SVG
   ========================================================================== */
/* ==========================================================================
   SVG end
   ========================================================================== */
/* ==========================================================================
   3.0 Alignments styles
   ========================================================================== */
.alignleft {
  float: left;
  text-align: left;
  margin: .5em 1em .5em 0 !important;
  clear: left;
}

.aligncenter {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
  text-align: right;
  margin: .5em 0 .5em 1em !important;
  clear: right;
}

.qodef-content-alignment-left {
  text-align: left;
}

.qodef-content-alignment-center {
  text-align: center;
}

.qodef-content-alignment-right {
  text-align: right;
}

/* ==========================================================================
   Gutenberg Admin styles - begin
   ========================================================================== */
.editor-styles-wrapper {
  /* ==========================================================================
   1.0 Reset default styles
   ========================================================================== */
  /* ==========================================================================
   6.0 Input Fields styles
   ========================================================================== */
  /* ==========================================================================
   Search appearance tweak begin
   ========================================================================== */
  /* ==========================================================================
   Autocomplete appearance tweak begin
   ========================================================================== */
}

.editor-styles-wrapper * {
  box-sizing: border-box;
}

.editor-styles-wrapper article, .editor-styles-wrapper aside, .editor-styles-wrapper details, .editor-styles-wrapper figcaption, .editor-styles-wrapper figure, .editor-styles-wrapper footer, .editor-styles-wrapper header, .editor-styles-wrapper nav, .editor-styles-wrapper section, .editor-styles-wrapper main {
  display: block;
}

.editor-styles-wrapper del {
  text-decoration: line-through;
}

.editor-styles-wrapper pre {
  max-width: 100%;
  margin: 15px 0;
  padding: 15px;
  background-color: #dfdfdf;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace !important;
  font-size: 1em !important;
  color: #5b5b5b !important;
}

.editor-styles-wrapper code {
  background-color: #dfdfdf !important;
  padding: 0 !important;
  font-family: monospace, monospace !important;
  font-size: 1em !important;
  color: #5b5b5b !important;
}

.editor-styles-wrapper sub,
.editor-styles-wrapper sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

.editor-styles-wrapper sub {
  bottom: -0.25em;
}

.editor-styles-wrapper sup {
  top: -0.5em;
}

.editor-styles-wrapper table {
  width: 100%;
  vertical-align: middle;
  border: medium none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.editor-styles-wrapper table tr {
  border: 1px solid #a6a6a6 !important;
}

.editor-styles-wrapper table th {
  padding: 5px 7px !important;
  text-align: left;
  border-right: 1px solid #a6a6a6;
}

.editor-styles-wrapper table td {
  padding: 5px 10px !important;
  text-align: left;
  border: 0 !important;
  border-right: 1px solid #a6a6a6 !important;
}

.editor-styles-wrapper table td br {
  display: none;
}

.editor-styles-wrapper hr {
  background-color: #bbb;
  border: 0 !important;
  height: 1px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.editor-styles-wrapper hr:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

body:not([class*="globefarer-core"]) .editor-styles-wrapper hr {
  clear: both;
}

.editor-styles-wrapper ul, .editor-styles-wrapper ol {
  list-style-position: inside;
  margin-bottom: 1.5em !important;
  padding: 0 !important;
}

.editor-styles-wrapper ul.wp-block, .editor-styles-wrapper ol.wp-block {
  margin-bottom: 1.5em !important;
}

.editor-styles-wrapper ul:not(.wp-block), .editor-styles-wrapper ol:not(.wp-block) {
  margin: 0 0 1.5em !important;
}

.editor-styles-wrapper li > ul:not(.wp-block),
.editor-styles-wrapper li > ol:not(.wp-block) {
  margin-bottom: 0 !important;
  margin-left: 1.5em !important;
}

.editor-styles-wrapper dt {
  font-weight: 700;
}

.editor-styles-wrapper dd {
  margin: 0 1.5em 1.5em;
}

.editor-styles-wrapper a img {
  border: none;
}

.editor-styles-wrapper img, .editor-styles-wrapper .wp-caption {
  height: auto;
  max-width: 100%;
}

.editor-styles-wrapper img {
  vertical-align: middle;
  border-style: none;
}

.editor-styles-wrapper figure {
  margin: 0;
}

.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
  display: block;
  max-width: 100%;
}

.editor-styles-wrapper video {
  display: block;
}

.editor-styles-wrapper embed,
.editor-styles-wrapper object {
  height: auto;
}

.editor-styles-wrapper label {
  display: block;
  margin-bottom: 0.5em;
}

.editor-styles-wrapper fieldset {
  margin-bottom: 1em;
  padding: 0.35em 0.75em 0.625em;
}

.editor-styles-wrapper input[type='submit'] {
  -webkit-appearance: none;
}

.editor-styles-wrapper abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

.editor-styles-wrapper b,
.editor-styles-wrapper strong {
  font-weight: bolder;
}

.editor-styles-wrapper kbd,
.editor-styles-wrapper samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  background-color: #dfdfdf;
}

.editor-styles-wrapper small {
  font-size: 80%;
}

.editor-styles-wrapper progress {
  vertical-align: baseline;
}

.editor-styles-wrapper summary {
  display: list-item;
}

.editor-styles-wrapper template {
  display: none;
}

.editor-styles-wrapper figcaption,
.editor-styles-wrapper .wp-caption,
.editor-styles-wrapper .gallery-caption {
  display: block;
  max-width: 100%;
  font-size: 13px !important;
  line-height: 1em !important;
  color: #5b5b5b;
  text-align: center;
  opacity: 1;
  margin: .5em auto 1em;
}

.editor-styles-wrapper figcaption a,
.editor-styles-wrapper .wp-caption a,
.editor-styles-wrapper .gallery-caption a {
  color: inherit;
}

.editor-styles-wrapper .wp-caption .wp-caption-text {
  opacity: 1;
}

.editor-styles-wrapper blockquote.instagram-media,
.editor-styles-wrapper iframe.instagram-media {
  margin: auto !important;
}

.editor-styles-wrapper .sticky,
.editor-styles-wrapper .bypostauthor {
  opacity: 1;
}

.editor-styles-wrapper ::selection {
  color: #fff;
  background: var(--qode-main-color);
}

.editor-styles-wrapper ::-moz-selection {
  color: #fff;
  background: var(--qode-main-color);
}

.editor-styles-wrapper label {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 500;
  color: #777777;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="date"],
.editor-styles-wrapper select,
.editor-styles-wrapper textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  color: #1b1b1b;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 24px;
  margin: 0 0 48px;
  outline: 0;
  position: relative;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  width: 100%;
}

.editor-styles-wrapper input[type="text"]:focus,
.editor-styles-wrapper input[type="email"]:focus,
.editor-styles-wrapper input[type="url"]:focus,
.editor-styles-wrapper input[type="password"]:focus,
.editor-styles-wrapper input[type="number"]:focus,
.editor-styles-wrapper input[type="tel"]:focus,
.editor-styles-wrapper input[type="search"]:focus,
.editor-styles-wrapper input[type="date"]:focus,
.editor-styles-wrapper select:focus,
.editor-styles-wrapper textarea:focus {
  background-color: transparent;
  border-color: #1b1b1b;
  color: #1b1b1b;
}

.editor-styles-wrapper input[type="text"]:-ms-input-placeholder, .editor-styles-wrapper input[type="email"]:-ms-input-placeholder, .editor-styles-wrapper input[type="url"]:-ms-input-placeholder, .editor-styles-wrapper input[type="password"]:-ms-input-placeholder, .editor-styles-wrapper input[type="number"]:-ms-input-placeholder, .editor-styles-wrapper input[type="tel"]:-ms-input-placeholder, .editor-styles-wrapper input[type="search"]:-ms-input-placeholder, .editor-styles-wrapper input[type="date"]:-ms-input-placeholder, .editor-styles-wrapper select:-ms-input-placeholder, .editor-styles-wrapper textarea:-ms-input-placeholder {
  color: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 1;
}

.editor-styles-wrapper input[type="text"]::placeholder,
.editor-styles-wrapper input[type="email"]::placeholder,
.editor-styles-wrapper input[type="url"]::placeholder,
.editor-styles-wrapper input[type="password"]::placeholder,
.editor-styles-wrapper input[type="number"]::placeholder,
.editor-styles-wrapper input[type="tel"]::placeholder,
.editor-styles-wrapper input[type="search"]::placeholder,
.editor-styles-wrapper input[type="date"]::placeholder,
.editor-styles-wrapper select::placeholder,
.editor-styles-wrapper textarea::placeholder {
  color: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 1;
}

.editor-styles-wrapper input[type="text"]:not(.qodef-m-newsletter-input),
.editor-styles-wrapper input[type="email"]:not(.qodef-m-newsletter-input),
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="date"],
.editor-styles-wrapper textarea {
  border: none;
  border-bottom-color: rgba(27, 27, 27, 0.35);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 11px 0px;
}

.editor-styles-wrapper input[type="text"].qodef-m-newsletter-input,
.editor-styles-wrapper input[type="email"].qodef-m-newsletter-input,
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper select {
  border-style: solid;
  border-width: 1px;
  padding: 14px 30px 20px;
}

.editor-styles-wrapper .wp-block-loginout input {
  margin: 0 0 1em 0;
}

.editor-styles-wrapper .wp-block-loginout input:not(.button) {
  border-style: solid !important;
  border-width: 1px !important;
}

.editor-styles-wrapper .wp-block-loginout input:not(.button):not([type="checkbox"]) {
  padding: 14px 30px 20px !important;
}

.editor-styles-wrapper select {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB4PScwcHgnIHk9JzBweCcgd2lkdGg9JzEwLjhweCcgaGVpZ2h0PSc2LjJweCcgdmlld0JveD0nMCAwIDEwLjggNi4yJyBzdHlsZT0nZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMC44IDYuMjsnIHhtbDpzcGFjZT0ncHJlc2VydmUnPjxwYXRoIHN0eWxlPSdmaWxsOiAjQThBN0E3JyBkPSdNMTAuNiwwLjNjMC4zLDAuMywwLjMsMC43LDAsMUw1LjksNS45QzUuOCw2LjEsNS42LDYuMiw1LjQsNi4yQzUuMiw2LjIsNSw2LjEsNC45LDUuOUwwLjIsMS4zIGMtMC4zLTAuMy0wLjMtMC43LDAtMWMwLjMtMC4zLDAuNy0wLjMsMSwwbDQuMiw0LjFsNC4yLTQuMUM5LjktMC4xLDEwLjItMC4xLDEwLjYsMC4zeicvPjwvc3ZnPg==");
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  font-weight: inherit;
  letter-spacing: inherit;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.editor-styles-wrapper select option {
  color: #1b1b1b;
}

.editor-styles-wrapper .qodef-m-input-holder label {
  display: flex;
  margin: 0 0 48px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .editor-styles-wrapper .qodef-m-input-holder label {
    flex-direction: column;
  }
}

.editor-styles-wrapper .qodef-m-input-holder .qodef-m-input-label {
  line-height: 24px;
  padding: 11px 0px;
  position: absolute;
  width: 120px;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .editor-styles-wrapper .qodef-m-input-holder .qodef-m-input-label {
    padding: 0;
    position: relative;
    width: 100%;
  }
}

.editor-styles-wrapper .qodef-m-input-holder input:not([type="checkbox"]):not([type="radio"]),
.editor-styles-wrapper .qodef-m-input-holder textarea {
  margin: 0;
  padding-left: 120px;
}

@media only screen and (max-width: 480px) {
  .editor-styles-wrapper .qodef-m-input-holder input:not([type="checkbox"]):not([type="radio"]),
  .editor-styles-wrapper .qodef-m-input-holder textarea {
    padding-left: 0;
  }
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper textarea,
.editor-styles-wrapper select {
  -webkit-appearance: none;
          appearance: none;
}

.editor-styles-wrapper .post-password-form input[type="password"] {
  margin-top: 0.5em;
}

@media only screen and (min-width: 769px) {
  .editor-styles-wrapper .post-password-form input[type="password"] {
    display: block;
    max-width: 50%;
  }
}

.editor-styles-wrapper .qodef-theme-button.qodef-layout--textual {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1b1b1b;
  font-size: 17px;
  line-height: 1.294em;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin: 0;
  text-decoration: none;
  border-radius: 0;
  outline: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  background-color: transparent;
  border: 0;
  color: #1b1b1b;
  padding: 0 !important;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.133em;
}

.editor-styles-wrapper .qodef-theme-button.qodef-layout--textual .qodef-m-button-icon {
  align-items: center;
  background-color: var(--qode-main-color);
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 54px;
  justify-content: center;
  margin: 0;
  width: 54px;
  margin: 0 19px 0 0;
}

.editor-styles-wrapper .qodef-theme-button.qodef-layout--textual .qodef-m-button-icon > svg {
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

.editor-styles-wrapper .qodef-theme-button.qodef-layout--textual:hover {
  color: #000000;
}

.editor-styles-wrapper .qodef-theme-button.qodef-layout--textual:hover .qodef-m-button-icon > svg {
  transform: rotate(90deg);
}

.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper button[type="submit"],
.editor-styles-wrapper button[type="button"],
.editor-styles-wrapper .qodef-theme-button {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1b1b1b;
  font-size: 17px;
  line-height: 1.294em;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin: 0;
  text-decoration: none;
  border-radius: 0;
  outline: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  padding: 18px 40px;
  color: #1b1b1b;
  background-color: var(--qode-main-color);
  border: 1px solid transparent;
  cursor: pointer;
}

.editor-styles-wrapper input[type="submit"] .qodef-m-button-icon,
.editor-styles-wrapper button[type="submit"] .qodef-m-button-icon,
.editor-styles-wrapper button[type="button"] .qodef-m-button-icon,
.editor-styles-wrapper .qodef-theme-button .qodef-m-button-icon {
  margin: 0 14px 0 0;
}

.editor-styles-wrapper input[type="submit"] .qodef-m-button-icon > svg,
.editor-styles-wrapper button[type="submit"] .qodef-m-button-icon > svg,
.editor-styles-wrapper button[type="button"] .qodef-m-button-icon > svg,
.editor-styles-wrapper .qodef-theme-button .qodef-m-button-icon > svg {
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper button[type="submit"]:hover,
.editor-styles-wrapper button[type="button"]:hover,
.editor-styles-wrapper .qodef-theme-button:hover {
  color: #000000;
}

.editor-styles-wrapper input[type="submit"]:hover .qodef-m-button-icon > svg,
.editor-styles-wrapper button[type="submit"]:hover .qodef-m-button-icon > svg,
.editor-styles-wrapper button[type="button"]:hover .qodef-m-button-icon > svg,
.editor-styles-wrapper .qodef-theme-button:hover .qodef-m-button-icon > svg {
  transform: rotate(90deg);
}

.editor-styles-wrapper button[type="submit"] span,
.editor-styles-wrapper button[type="button"] span,
.editor-styles-wrapper .qodef-theme-button span {
  display: block;
  line-height: inherit;
}

.editor-styles-wrapper button[type="submit"] span:before,
.editor-styles-wrapper button[type="button"] span:before,
.editor-styles-wrapper .qodef-theme-button span:before {
  display: block;
  line-height: inherit;
}

.editor-styles-wrapper input[type="checkbox"],
.editor-styles-wrapper input[type="radio"] {
  -webkit-appearance: none;
          appearance: none;
  border: 1px solid currentColor;
  box-sizing: border-box;
  height: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 14px;
}

.editor-styles-wrapper input[type="checkbox"]:after,
.editor-styles-wrapper input[type="radio"]:after {
  background-color: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 12px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-out;
  width: 12px;
}

.editor-styles-wrapper input[type="checkbox"]:checked,
.editor-styles-wrapper input[type="radio"]:checked {
  background-color: var(--qode-main-color);
}

.editor-styles-wrapper input[type="checkbox"]:checked:after,
.editor-styles-wrapper input[type="radio"]:checked:after {
  opacity: 1;
}

.editor-styles-wrapper input[type="radio"] {
  border-radius: 50%;
}

.editor-styles-wrapper input[type="radio"]:after {
  border-radius: 50%;
}

.editor-styles-wrapper input[type="search"]::-webkit-search-decoration, .editor-styles-wrapper input[type="search"]::-webkit-search-cancel-button, .editor-styles-wrapper input[type="search"]::-webkit-search-results-button, .editor-styles-wrapper input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.editor-styles-wrapper input[type="search"]::-ms-clear,
.editor-styles-wrapper input[type="text"]::-ms-clear {
  display: none;
}

.editor-styles-wrapper input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: qodefAutofillFix;
}

.editor-styles-wrapper .mce-content-body,
.editor-styles-wrapper .block-editor-block-list__layout,
.editor-styles-wrapper p.wp-block {
  font-family: "Sarabun", sans-serif;
  font-size: 18px;
  line-height: 1.444em;
  font-weight: 400;
}

.editor-styles-wrapper .mce-content-body:not(.has-text-color),
.editor-styles-wrapper .block-editor-block-list__layout:not(.has-text-color),
.editor-styles-wrapper p.wp-block:not(.has-text-color) {
  color: #5b5b5b;
}

.editor-styles-wrapper .block-editor-block-list__layout {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: content-box;
}

body .editor-styles-wrapper h1,
body .editor-styles-wrapper h1.wp-block,
body .editor-styles-wrapper h1.rich-text {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 65px !important;
  line-height: 1.107em !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h1 a,
body .editor-styles-wrapper h1.wp-block a,
body .editor-styles-wrapper h1.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h1 a:focus, body .editor-styles-wrapper h1 a:hover,
body .editor-styles-wrapper h1.wp-block a:focus,
body .editor-styles-wrapper h1.wp-block a:hover,
body .editor-styles-wrapper h1.rich-text a:focus,
body .editor-styles-wrapper h1.rich-text a:hover {
  color: var(--qode-main-color);
}

body .editor-styles-wrapper h2,
body .editor-styles-wrapper h2.wp-block,
body .editor-styles-wrapper h2.rich-text {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 45px !important;
  line-height: 1.155em !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h2 a,
body .editor-styles-wrapper h2.wp-block a,
body .editor-styles-wrapper h2.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h2 a:focus, body .editor-styles-wrapper h2 a:hover,
body .editor-styles-wrapper h2.wp-block a:focus,
body .editor-styles-wrapper h2.wp-block a:hover,
body .editor-styles-wrapper h2.rich-text a:focus,
body .editor-styles-wrapper h2.rich-text a:hover {
  color: var(--qode-main-color);
}

body .editor-styles-wrapper h3,
body .editor-styles-wrapper h3.wp-block,
body .editor-styles-wrapper h3.rich-text {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 32px !important;
  line-height: 1.25em !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h3 a,
body .editor-styles-wrapper h3.wp-block a,
body .editor-styles-wrapper h3.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h3 a:focus, body .editor-styles-wrapper h3 a:hover,
body .editor-styles-wrapper h3.wp-block a:focus,
body .editor-styles-wrapper h3.wp-block a:hover,
body .editor-styles-wrapper h3.rich-text a:focus,
body .editor-styles-wrapper h3.rich-text a:hover {
  color: var(--qode-main-color);
}

body .editor-styles-wrapper h4,
body .editor-styles-wrapper h4.wp-block,
body .editor-styles-wrapper h4.rich-text {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 22px !important;
  line-height: 1.181em !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h4 a,
body .editor-styles-wrapper h4.wp-block a,
body .editor-styles-wrapper h4.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h4 a:focus, body .editor-styles-wrapper h4 a:hover,
body .editor-styles-wrapper h4.wp-block a:focus,
body .editor-styles-wrapper h4.wp-block a:hover,
body .editor-styles-wrapper h4.rich-text a:focus,
body .editor-styles-wrapper h4.rich-text a:hover {
  color: var(--qode-main-color);
}

body .editor-styles-wrapper h5,
body .editor-styles-wrapper h5.wp-block,
body .editor-styles-wrapper h5.rich-text {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 17px !important;
  line-height: 1.294em !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h5 a,
body .editor-styles-wrapper h5.wp-block a,
body .editor-styles-wrapper h5.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h5 a:focus, body .editor-styles-wrapper h5 a:hover,
body .editor-styles-wrapper h5.wp-block a:focus,
body .editor-styles-wrapper h5.wp-block a:hover,
body .editor-styles-wrapper h5.rich-text a:focus,
body .editor-styles-wrapper h5.rich-text a:hover {
  color: var(--qode-main-color);
}

body .editor-styles-wrapper h6,
body .editor-styles-wrapper h6.wp-block,
body .editor-styles-wrapper h6.rich-text {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 15px !important;
  line-height: 1.4em !important;
  font-weight: 500 !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  word-wrap: break-word !important;
}

body .editor-styles-wrapper h6 a,
body .editor-styles-wrapper h6.wp-block a,
body .editor-styles-wrapper h6.rich-text a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

body .editor-styles-wrapper h6 a:focus, body .editor-styles-wrapper h6 a:hover,
body .editor-styles-wrapper h6.wp-block a:focus,
body .editor-styles-wrapper h6.wp-block a:hover,
body .editor-styles-wrapper h6.rich-text a:focus,
body .editor-styles-wrapper h6.rich-text a:hover {
  color: var(--qode-main-color);
}

.editor-styles-wrapper a,
.editor-styles-wrapper p a {
  color: #1b1b1b !important;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.editor-styles-wrapper a:focus, .editor-styles-wrapper a:hover,
.editor-styles-wrapper p a:focus,
.editor-styles-wrapper p a:hover {
  color: var(--qode-main-color) !important;
}

.editor-styles-wrapper p,
.editor-styles-wrapper p.wp-block {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border: 0;
}

.editor-styles-wrapper p.has-background,
.editor-styles-wrapper p.wp-block.has-background {
  padding: 20px 30px;
}

.editor-styles-wrapper blockquote,
.editor-styles-wrapper blockquote.wp-block-quote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1b1b1b;
  font-size: 32px;
  line-height: 1.25em;
  border: none !important;
  display: inline-block;
  min-height: 62px;
  padding: 0 0 0 115px !important;
  position: relative;
  quotes: none;
  z-index: 1;
}

@media only screen and (max-width: 680px) {
  .editor-styles-wrapper blockquote,
  .editor-styles-wrapper blockquote.wp-block-quote {
    padding: 82px 0 0 0;
  }
}

.editor-styles-wrapper blockquote.wp-block-quote.is-large, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-quote.is-large,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-quote.is-style-large {
  margin: 0;
  padding: 18px 0 20px 115px !important;
}

@media only screen and (max-width: 680px) {
  .editor-styles-wrapper blockquote.wp-block-quote.is-large, .editor-styles-wrapper blockquote.wp-block-quote.is-style-large,
  .editor-styles-wrapper blockquote.wp-block-quote.wp-block-quote.is-large,
  .editor-styles-wrapper blockquote.wp-block-quote.wp-block-quote.is-style-large {
    padding: 82px 0 0 0;
  }
}

.editor-styles-wrapper blockquote.wp-block-pullquote,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote {
  padding: 25px 0 25px 115px !important;
  text-align: center !important;
}

.editor-styles-wrapper blockquote.wp-block-pullquote p,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote p {
  font-size: 28px !important;
  line-height: 1.6 !important;
}

.editor-styles-wrapper blockquote.wp-block-pullquote.alignleft,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote.alignleft {
  max-width: 420px;
}

.editor-styles-wrapper blockquote.wp-block-pullquote.alignright,
.editor-styles-wrapper blockquote.wp-block-quote.wp-block-pullquote.alignright {
  max-width: 420px;
}

.editor-styles-wrapper blockquote.has-text-align-right,
.editor-styles-wrapper blockquote.wp-block-quote.has-text-align-right {
  padding: 0 115px 0 0;
}

.editor-styles-wrapper blockquote.has-text-align-right:before,
.editor-styles-wrapper blockquote.wp-block-quote.has-text-align-right:before {
  left: auto;
  right: 0;
}

.editor-styles-wrapper blockquote:before,
.editor-styles-wrapper blockquote.wp-block-quote:before {
  background-color: currentColor;
  content: '';
  height: 62px;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NS4xNzIiIGhl aWdodD0iNjIuNDYyIiB2aWV3Qm94PSIwIDAgNzUuMTcyIDYyLjQ2MiI+CiAgPGcgdHJhbnNmb3Jt PSJ0cmFuc2xhdGUoLTc2Mi45MzggLTEwNzkuMTI5KSI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5z bGF0ZSg3NjMuNDM4IDEwNzkuNjM0KSI+CiAgICAgIDxnPgogICAgICAgIDxwYXRoIGQ9Ik04MDgu NywxMTQxLjA5MUg4MzcuNjF2LTI3LjY1N0g4MjQuNDI0YTEuMTU5LDEuMTU5LDAsMCwxLTEuMTQ5 LTEuMTd2LTIuODNjMC0xMC41NjUsMy45OC0xNi4wMzQsMTEuODMyLTE2LjI2MXYtMTMuNTM4Yy0x MC4wMDcuMTA2LTE3LjcsMy4yNzQtMjIuODY1LDkuNDIxLTUuMjc4LDYuMjc1LTcuOTU0LDE0LjY5 LTcuOTU0LDI1LjAxQTg5LjE4NSw4OS4xODUsMCwwLDAsODA4LjcsMTE0MS4wOTFabS00MC42MzEs MGgyOC45MjF2LTI3LjY1N0g3ODMuNTc0YTEuMTU5LDEuMTU5LDAsMCwxLTEuMTUtMS4xN3YtMi44 M2MwLTEwLjU3LDQuMDU2LTE2LjAzOSwxMi4wNi0xNi4yNjJ2LTEzLjUzN2MtMTAuMDEuMTA1LTE3 LjczOSwzLjI3NS0yMi45ODQsOS40MjQtNS4zNTEsNi4yNzctOC4wNjMsMTQuNjkxLTguMDYzLDI1 LjAwOEE4NC4wNDYsODQuMDQ2LDAsMCwwLDc2OC4wNjUsMTE0MS4wOTFaIiB0cmFuc2Zvcm09InRy YW5zbGF0ZSgtNzYzLjQzOCAtMTA3OS42MzQpIiBmaWxsPSJub25lIiBzdHJva2U9IiMxYjFiMWIi IHN0cm9rZS13aWR0aD0iMSIvPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K ");
          mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NS4xNzIiIGhl aWdodD0iNjIuNDYyIiB2aWV3Qm94PSIwIDAgNzUuMTcyIDYyLjQ2MiI+CiAgPGcgdHJhbnNmb3Jt PSJ0cmFuc2xhdGUoLTc2Mi45MzggLTEwNzkuMTI5KSI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5z bGF0ZSg3NjMuNDM4IDEwNzkuNjM0KSI+CiAgICAgIDxnPgogICAgICAgIDxwYXRoIGQ9Ik04MDgu NywxMTQxLjA5MUg4MzcuNjF2LTI3LjY1N0g4MjQuNDI0YTEuMTU5LDEuMTU5LDAsMCwxLTEuMTQ5 LTEuMTd2LTIuODNjMC0xMC41NjUsMy45OC0xNi4wMzQsMTEuODMyLTE2LjI2MXYtMTMuNTM4Yy0x MC4wMDcuMTA2LTE3LjcsMy4yNzQtMjIuODY1LDkuNDIxLTUuMjc4LDYuMjc1LTcuOTU0LDE0LjY5 LTcuOTU0LDI1LjAxQTg5LjE4NSw4OS4xODUsMCwwLDAsODA4LjcsMTE0MS4wOTFabS00MC42MzEs MGgyOC45MjF2LTI3LjY1N0g3ODMuNTc0YTEuMTU5LDEuMTU5LDAsMCwxLTEuMTUtMS4xN3YtMi44 M2MwLTEwLjU3LDQuMDU2LTE2LjAzOSwxMi4wNi0xNi4yNjJ2LTEzLjUzN2MtMTAuMDEuMTA1LTE3 LjczOSwzLjI3NS0yMi45ODQsOS40MjQtNS4zNTEsNi4yNzctOC4wNjMsMTQuNjkxLTguMDYzLDI1 LjAwOEE4NC4wNDYsODQuMDQ2LDAsMCwwLDc2OC4wNjUsMTE0MS4wOTFaIiB0cmFuc2Zvcm09InRy YW5zbGF0ZSgtNzYzLjQzOCAtMTA3OS42MzQpIiBmaWxsPSJub25lIiBzdHJva2U9IiMxYjFiMWIi IHN0cm9rZS13aWR0aD0iMSIvPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K ");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 75px;
}

@media only screen and (max-width: 680px) {
  .editor-styles-wrapper blockquote:before,
  .editor-styles-wrapper blockquote.wp-block-quote:before {
    top: 0;
    transform: translateY(0);
  }
}

.editor-styles-wrapper blockquote > *,
.editor-styles-wrapper blockquote.wp-block-quote > * {
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
  color: inherit !important;
  margin: 0;
}

.editor-styles-wrapper blockquote p,
.editor-styles-wrapper blockquote.wp-block-quote p {
  margin: 0 !important;
}

.editor-styles-wrapper blockquote:after,
.editor-styles-wrapper blockquote.wp-block-quote:after {
  content: '';
}

.editor-styles-wrapper blockquote cite,
.editor-styles-wrapper blockquote .wp-block-quote__citation,
.editor-styles-wrapper blockquote .wp-block-pullquote__citation,
.editor-styles-wrapper blockquote.wp-block-quote cite,
.editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote__citation,
.editor-styles-wrapper blockquote.wp-block-quote .wp-block-pullquote__citation {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}

.editor-styles-wrapper select,
.editor-styles-wrapper select:disabled {
  border: 1px solid transparent;
}

.editor-styles-wrapper .wp-block {
  max-width: 1100px;
  margin-top: 0;
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block[data-align=full], .editor-styles-wrapper .wp-block.alignfull {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 100%;
}

.editor-styles-wrapper .wp-block[data-align=left] [data-type="core/button"], .editor-styles-wrapper .wp-block[data-align=right] [data-type="core/button"] {
  margin: 1em 0;
  width: 100%;
}

.editor-styles-wrapper .wp-block[data-align=left] [data-type="core/button"] br, .editor-styles-wrapper .wp-block[data-align=right] [data-type="core/button"] br {
  display: none;
}

.editor-styles-wrapper .wp-block:not([data-align=center])[data-type="core/button"] {
  margin: 1em 0 !important;
}

.editor-styles-wrapper .wp-block:not([data-align=center])[data-type="core/button"] br {
  display: none;
}

.editor-styles-wrapper .editor-post-title__input {
  font-family: "Sarabun", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #1b1b1b !important;
  font-size: 65px !important;
  line-height: 1.107em !important;
  overflow-y: hidden !important;
}

.editor-styles-wrapper .wp-block-paragraph {
  line-height: 1.444em;
}

.editor-styles-wrapper .wp-block-button.wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1b1b1b;
  font-size: 17px;
  line-height: 1.294em;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin: 0;
  text-decoration: none;
  border-radius: 0;
  outline: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
  padding: 18px 40px;
  color: #1b1b1b;
  background-color: var(--qode-main-color);
  border: 1px solid transparent;
  border-radius: 28px;
  height: auto;
  cursor: pointer;
}

.editor-styles-wrapper .wp-block-button.is-style-outline.wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  color: var(--qode-main-color);
  background-color: transparent;
  border: 1px solid var(--qode-main-color);
  border-width: 1px;
}

.editor-styles-wrapper .wp-block-button.is-style-squared.wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.editor-styles-wrapper .wp-block-gallery {
  display: flex;
  margin-bottom: 2em;
}

.editor-styles-wrapper .wp-block-gallery ul.blocks-gallery-grid {
  margin: 0 !important;
}

.editor-styles-wrapper .wp-block-gallery.alignleft {
  max-width: 420px;
}

.editor-styles-wrapper .wp-block-gallery.alignright {
  max-width: 420px;
}

.editor-styles-wrapper .wp-block-gallery figcaption {
  overflow-x: hidden;
}

.editor-styles-wrapper .wp-block-columns {
  margin-bottom: 28px !important;
  padding: 0 !important;
}

.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"] > .block-core-columns > .block-editor-inner-blocks {
  margin: 0;
}

.editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout .block-list-appender {
  margin: 0;
}

.editor-styles-wrapper .wp-block-pullquote {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  text-align: center !important;
  width: 100% !important;
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
  padding: 25px !important;
}

.editor-styles-wrapper .wp-block-pullquote blockquote p {
  font-size: 28px !important;
  line-height: 1.6 !important;
}

.editor-styles-wrapper .wp-block-pullquote.alignleft {
  max-width: 420px;
}

.editor-styles-wrapper .wp-block-pullquote.alignright {
  max-width: 420px;
}

.editor-styles-wrapper .wp-block-media-text figure > img,
.editor-styles-wrapper .wp-block-media-text figure > video {
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}

.editor-styles-wrapper [data-type="core/separator"] {
  padding: 0;
}

.editor-styles-wrapper .wp-block-image {
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-image.alignleft, .editor-styles-wrapper .wp-block-image.alignright {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.editor-styles-wrapper .wp-block-image.aligncenter {
  display: table;
}

.editor-styles-wrapper .wp-block-image .components-resizable-box__container {
  vertical-align: middle;
}

.editor-styles-wrapper [data-align=center] {
  text-align: center;
}

.editor-styles-wrapper [data-align=center] .wp-block-image {
  display: table;
  clear: both;
}

.editor-styles-wrapper .wp-block-cover {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
  width: 100% !important;
}

.editor-styles-wrapper .wp-block-cover p, .editor-styles-wrapper .wp-block-cover h1, .editor-styles-wrapper .wp-block-cover h2, .editor-styles-wrapper .wp-block-cover h3, .editor-styles-wrapper .wp-block-cover h4, .editor-styles-wrapper .wp-block-cover h5, .editor-styles-wrapper .wp-block-cover h6 {
  z-index: 1 !important;
  margin: 0 auto !important;
  max-width: 580px !important;
  padding: 14px !important;
  line-height: 1em !important;
}

.editor-styles-wrapper .wp-block-cover p a, .editor-styles-wrapper .wp-block-cover h1 a, .editor-styles-wrapper .wp-block-cover h2 a, .editor-styles-wrapper .wp-block-cover h3 a, .editor-styles-wrapper .wp-block-cover h4 a, .editor-styles-wrapper .wp-block-cover h5 a, .editor-styles-wrapper .wp-block-cover h6 a {
  color: #fff !important;
}

.editor-styles-wrapper .wp-block-cover p a:hover, .editor-styles-wrapper .wp-block-cover h1 a:hover, .editor-styles-wrapper .wp-block-cover h2 a:hover, .editor-styles-wrapper .wp-block-cover h3 a:hover, .editor-styles-wrapper .wp-block-cover h4 a:hover, .editor-styles-wrapper .wp-block-cover h5 a:hover, .editor-styles-wrapper .wp-block-cover h6 a:hover {
  color: var(--qode-main-color) !important;
}

.editor-styles-wrapper .wp-block-cover *:not(.has-text-color):not(.has-inline-color):not(a) {
  color: #fff !important;
  font-size: 30px !important;
}

.editor-styles-wrapper .wp-block-file {
  color: #1b1b1b;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.editor-styles-wrapper .wp-block-file:focus, .editor-styles-wrapper .wp-block-file:hover {
  color: var(--qode-main-color);
}

.editor-styles-wrapper .wp-block-group.has-background {
  padding: 20px 30px;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce li,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce p {
  line-height: inherit;
}

.editor-styles-wrapper .wp-caption {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.editor-styles-wrapper .wp-caption .wp-caption-dd {
  padding: 0 !important;
  margin: 10px 0 !important;
  line-height: 1.444em;
}

.editor-styles-wrapper .wp-caption.aligncenter {
  margin: auto !important;
}

.editor-styles-wrapper .wp-caption.aligncenter .wp-caption-dd {
  display: flex;
  justify-content: center;
}

.editor-styles-wrapper .wp-caption.alignleft .wp-caption-dd {
  text-align: left;
}

.editor-styles-wrapper .wp-caption.alignright .wp-caption-dd {
  text-align: right;
}

.editor-styles-wrapper .wp-block-code {
  max-width: 100%;
  background-color: #dfdfdf;
  margin: 15px 0;
  padding: 15px;
}

.editor-styles-wrapper .wp-block-code .block-editor-plain-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 18px;
  color: #5b5b5b;
  background: transparent;
}

.editor-styles-wrapper .wp-block-html {
  max-width: 100%;
  background-color: #dfdfdf;
}

.editor-styles-wrapper .wp-block-html .block-editor-plain-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 18px;
  color: #5b5b5b;
  background: transparent;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__input {
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-rss .wp-block-rss__item-title {
  display: inline-block;
  vertical-align: top;
}
